@font-face {
    font-family: mainHead;
    src: url(media/fonts/Emberly-Thin.ttf);
  }
@font-face {
font-family: head;
src: url(media/fonts/fantasy.ttf);
}
@font-face {
    font-family: body;
    src: url(media/fonts/ClearSansLight-pOXO.ttf);
    }
@font-face {
    font-family: secondThin;
    src: url(media/fonts/MerriweatherSansLight-8x72.ttf);
    }
@font-face {
    font-family: theBold;
    src: url(media/fonts/LicensePlate-j9eO.ttf);
    }
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url("media/images/background.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    font-family: body;
    font-size: 17.5px;
    letter-spacing: .7px;

}
.mobile-open-nav {
    /* visibility: hidden; */
    display: none;
    background: url("media/images/background.png");
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    font-family: mainHead;
}
.nav-tab {
    text-decoration: none;
}
ul {
    list-style: none;
}
.mobile-open-nav li {
    /* display: none; */
    justify-content: center;
    padding: 10px;
    height: 15.6vh;
    text-align: center;
    font-size: 10vh;
    letter-spacing: 1.6vw;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    padding-block-start: 3vh;
}
.mobile-open-nav a {
    text-decoration: none;
    color: black;
}
#exitMenu {
    display: flex;
    font-size: 5vh;
    flex-direction: row;
    height: 6vh;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid grey;
}
#exitMenu:hover {
    cursor: pointer;
}
.nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding-block-start: initial;
}
.nav-icons li {
    display: flex;
    border-style: none;
}
.nav-icons img:hover {
        cursor: pointer;
}
#nav-ig-logo {
    display: flex;
    margin-right: 2vw;
}
#nav-git-logo {
    display: flex;
    margin-left: 2vw;
}
.mobile-closed-menu {
    top: 0;
    display: flex;
    justify-content: space-between;
    background: url("media/images/background.png");
    padding: 4vh;
    height: 10vh;
    width: 100vw;
    border-bottom: 1px solid grey;
    padding-block-start: 1.5vh;
}
.mobile-closed-menu img {
    height: 7vh;
}
#hamb:hover {
    cursor: pointer;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: rgb(249, 249, 249);
    padding: 5vh;
    border-bottom: 4px double #000;    
    border-top: 4px double #000;    
}
.home h1 {
    padding: 2.5vh 0;   
}
.home h2 {
    /* padding: 2.5vh 0; */
    padding-top: 2.5vh;
    padding-bottom: 6vh;
    font-family: head;
    font-size: 6vh;
}
.home h3 {
    padding-top: 6vh;
    padding-bottom: 2.5vh;
    font-family: secondThin;
    text-transform: uppercase;
    letter-spacing: 4px; 
    font-size: 23px;
}
.home p {
    padding: 2.5vh 0;
}
.bio-cont {
    padding: 2vh 0; 
    position: relative;
    min-height: 300px;
    width: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    border-radius: 16px;
}
#bioPic {
    /* min-width: 20vw;
    max-width: 30vw;
    height: 40vh; */
    height: 225px;
    width: 200px;
    object-fit: cover;
    /* transform: scale(-0.9); */
    background-size: 300px 100px;
    /* transform: scale(1.5); */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: black 2px solid;
    background-clip: content-box;
    /* margin: 4vh; */
    position: absolute;
    /* top: 225px;
    right: 112px; */
    top: 17px;
    left: 30px;
    z-index: 1;
}
.acc {
    height: 225px;
    width: 200px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: black 2px solid;
    background: url("media/images/bioaccent.png");
    position: absolute;
    z-index: 0;
}
header {
    height: 25vh;
    position: relative;
}
#bioDrag {
    height: 36vh;
    position: absolute;
    left: -47vw;
}
.bio {
    /* float h1 to top of div */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: rgb(249, 249, 249);
    padding: 5vh;
    border-bottom: 4px double #000;
    font-size: 17px;    
}
h1 {
    font-family: mainHead;
    font-size: 10vh;
    background: rgb(249, 249, 249);
    padding: 2vh 0;
    border-bottom: 4px double #000;
    border-top: 4px double #000;
}
.bio h1 {
    /* float h1 to top of div */
    display: flex;
    position: absolute;
    top: 0px;
    width: 100vw;
    padding: 2vh 0;
    border-bottom: 4px double #000;    
    border-top: 4px double #000;    
    text-align: center;
    align-items: center;
    justify-content: center;
}
.bio p {
    padding-top: 10vh;
}
.special-text {
    display: flex;
    justify-content: flex-end;
    padding: 1vh 0;  
}
.projects {
    /* background: grey; */
    /* fix this height  */
    /* height: 10vh; */
    border-bottom: 4px double #000; 
    padding-bottom: 4vh;   
}
.projects h1 {
    background: rgb(249, 249, 249);
    padding: 2vh 0;
    border-bottom: 4px double #000;    
    border-top: 4px double #000;    
    font-family: mainHead;
    font-size: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.p-div {
    /* background: rgb(123, 0, 61); */
}
.projects h2 {
    background: lavender;
    padding-right: 2vw;
    margin: 1.5vh 0;
}
.projects h3 {
    padding-top: 4vh;
    padding-bottom: 1vh;
    font-family: theBold;
}
.proj-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    padding-bottom: 2vh;

}
.p-div p {
    background: lavender;
    padding: 2vh 0;
}
#design {
    margin-top: 5vh;
}
.s-cont {
    padding: 4vh 0 4vh 7vw;
}
h4 {
    /* padding: 2vh 0 .5vh 15vw; */
    /* padding: 2vh 0; */
    text-align: left;
}
.s-cont p {
    /* top right bottom left */
    padding: 1vh 0 1vh 1vh;
}
.resume {
    background: rgb(249, 249, 249);
}
.res-png {
    width: 87vw;
    height: auto;
    padding: 2vh 0;
}
.contact {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.con-head {
    border-bottom: 4px double #000;
    border-top: 4px double #000;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 70vw;
    max-height: 50vh;
    height: 350px;
    width: 350px;
    background: lightpink;
    padding-left: 25px;

}
h5 {
    padding: 2vh 0;
}
.thank-you {
    font-family: mainHead;
    font-size: 15vh;
    width: 100vw;
    padding: 15vh 0;
}